body {
    background-image: url('../image/bg.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: black;
}

@media screen and (max-width: 900px) {
    body {
        background-size: contain;
    }
}

.bg-gradient {
    background: rgb(175, 135, 40) !important;
    background: linear-gradient(90deg, rgba(175, 135, 40, 1) 0%, rgba(183, 143, 40, 1) 20%, rgba(255, 215, 125, 1) 50%, rgba(176, 134, 43, 1) 80%, rgba(175, 135, 40, 1) 100%) !important;
}

.font-jakarta {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.text-gradient {
    background: rgb(175, 135, 40);
    background: linear-gradient(90deg, rgba(175, 135, 40, 1) 0%, rgba(183, 143, 40, 1) 25%, rgba(255, 215, 125, 1) 50%, rgba(176, 134, 43, 1) 75%, rgba(175, 135, 40, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-crimson {
    font-family: 'Crimson Text', serif;
    font-weight: 700;
    font-style: italic;
    background: rgb(175, 135, 40);
    background: linear-gradient(90deg, rgba(175, 135, 40, 1) 0%, rgba(183, 143, 40, 1) 25%, rgba(255, 215, 125, 1) 50%, rgba(176, 134, 43, 1) 75%, rgba(175, 135, 40, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.crimson {
    font-family: 'Crimson Text', serif;
    font-weight: 700;
    font-style: italic;
}

section {
    overflow: hidden !important;
}

.section-sub {
    font-size: 1.5rem;
    letter-spacing: 0.03rem;
}

.section-title {
    font-size: 2.25rem;
    font-weight: 700;
}

@media screen and (max-width: 900px) {

    .section-title {
        font-size: 2rem;
        font-weight: 700;
    }
}

@media screen and (max-width: 600px) {
    .section-title {
        font-size: 1.45rem;
    }
    .section-sub {
        font-size: 1.25rem;
    }
    section {
        padding-left: 15px !important;
        padding-right: 15px !important;
        width: 100% !important;
    }
}

/* Navbar */
#navbar {
    height: 7rem !important;
    background-image: url('../image/navbar.png') !important;
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: cover;
}

#navbar .nav-link {
    font-weight: bold !important;
}

@media screen and (max-width: 900px) {
    .nav-logo {
        margin: 0px !important;
        padding: 0px 20px !important;
    }
}

@media screen and (max-width: 600px) {
    .nav-logo {
        display: none !important;
    }

    #navbar {
        height: auto !important;
    }

    .nav-desktop {
        display: none !important;
    }

    .nav-logo-mobile1 {
        display: block !important;
        top: 60%;
        left: 50%;
        transform: translate(-45%, -50%);
    }
    .nav-mobile {
        right: 0 !important;
        left: 0 !important;
        bottom: 0 !important;
        top: 0 !important;
        height: 100vh !important;
        content: '' !important;
        background-color: #080808 !important;
        padding-right: 20px !important;
        padding-left: 20px !important;
        z-index: 999;
        animation-duration: 2s;
    }

    .nav-mobile .close-btn {
        right: 20px !important;
    }

    .nav-item-mobile {
        border-top: 1px solid #B98E2A;
        transition-duration: 200ms;
    }

    .nav-item-mobile:hover {
        border-radius: 15px !important;
        background-color: white !important;
        background: rgb(175, 135, 40) !important;
        background: linear-gradient(90deg, rgba(175, 135, 40, 1) 0%, rgba(183, 143, 40, 1) 20%, rgba(255, 215, 125, 1) 50%, rgba(176, 134, 43, 1) 80%, rgba(175, 135, 40, 1) 100%) !important;
    }

    .nav-item-mobile:hover p {
        background: #080808;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/* Navbar End */

/* Hero */
.hero {
    min-height: 103vh;
}

.hero .hero-title {
    color: var(--color-neutral-10, #FFF);
    font-family: Plus Jakarta Sans;
    font-size: 4.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    /* 4.125rem */
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}

.hero .hero-sub {
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 1.5rem */
    letter-spacing: 0.01rem;
    width: 80%;
}

.hero .hero-img {
    right: 0px !important;
    top: -13vh !important;
}

@media screen and (min-width: 1441px) {
    .hero {
        min-height: 700px !important;
        margin-top: 20px !important;
    }

    .hero .hero-img {
        right: 0px !important;
        top: -5vh !important;
    }
}

@media screen and (max-width: 900px) {
    .hero {
        min-height: 75vh !important;
    }

    .hero .hero-img {
        right: -120px !important;
        top: -12vh !important;
    }

    .hero .hero-title {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 110%;
        /* 2.75rem */
        letter-spacing: 0.05rem;
        width: 88%;
    }

    .hero .hero-content {
        transform: translateY(100px) !important;
    }
}

@media screen and (max-width: 600px) {
    .hero {
        min-height: auto !important;
        height: 750px;
    }
    .hero .hero-img {
        top: -120px !important;
        left: -60px !important;
        height: 600px !important;
        overflow: hidden !important;
    }
    .hero .hero-img img {
        width: 90% !important;
    }
    .hero .hero-content {
        transform: translateY(200px) !important;
        z-index: 1 !important;
    }
    .hero .hero-text-up {
        width: 100% !important;
    }
    .hero .hero-title {
        font-size: 1.5rem !important;
        width: 100% !important;
    }
    .hero .hero-sub {
        font-size: 0.9rem !important;
        line-height: 150%; /* 1.125rem */
        letter-spacing: 0.0075rem;
        width: 100% !important;
    }
    .hero .hero-btn {
        padding: 20px 0px !important;
        width: 100% !important;
        text-align: center !important;
    }

    .hero .bg-img-hero {
        display: block !important;
        top: 0 !important;
        right: 0 !important;
        left: 0 !important;
        bottom: 0 !important;
        content: '' !important;
        background: linear-gradient(180deg, rgba(8,8,8,0) 40%, rgba(0,0,0,0.8) 100%);
        z-index: 1 !important;

    }
}

/* Hero end*/

/* Tentang-kami */
.tentang-kami .tentang-text {
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
    /* 1.5rem */
    letter-spacing: 0.01rem;
    max-width: 35rem;
}

@media screen and (max-width: 900px) {
    .title-container {
        text-align: left !important;
    }

    .tentang-kami .tentang-text {
        font-size: 0.875rem;
        letter-spacing: 0.00875rem;
    }

    .tentang-kami .tentang-img {
        padding-top: 3rem;
        width: 280px !important;
    }
}

@media screen and (max-width: 600px) {
    .tentang-kami .section-title {
        width: 90%;
    }
    .tentang-kami .tentang-logo {
        text-align: center !important;
    }
    .tentang-kami .tentang-logo img {
        margin: 0 !important;
        padding-top: 10px !important;
    }
    .tentang-kami .tentang-text {
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
    }
}

/* Tentang-kami End */

/* bergabung */
.bergabung .section-title {
    width: 70%;
}

.bergabung .bg-card {
    background-image: url('../image/bg-card.png') !important;
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.bergabung .card-title {
    margin-bottom: 4rem !important;
}

.bergabung .btn-level {
    background-color: #901565 !important;
}

@media screen and (max-width: 900px) {
    .bergabung .card-title {
        font-size: 4rem;
        margin-bottom: 2rem !important;

    }
}

@media screen and (max-width: 600px) {
    .bergabung .section-title {
        width: 90% !important;
    }
    .bergabung .card-title {
        font-size: 1.5rem;
        margin-bottom: 2rem !important;

    }
    .bergabung .card-content-container {
        flex-direction: column-reverse !important;
        text-align: center !important;
    }
    .bergabung .card-img-container {
        width: 100% !important;
    }
}

/* bergabung End*/

/* jangan-ragu */
.jangan-ragu .section-title {
    width: 60%;
    line-height: 130%;
    /* 2.925rem */
}

.jangan-ragu .card-container {
    border: 1px solid white;
}

.jangan-ragu .card-sub {
    -webkit-line-clamp: 3 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
}

@media screen and (max-width: 900px) {
    .jangan-ragu .section-title {
        width: 100%;
    }
}

/* jangan-ragu End */


/* produk */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.produk .img-circle-container {
    transform: translateX(-58%) !important;
    width: 75vw !important;
}

.produk .produk-circle-img {
    animation: rotate 20s linear infinite;
    width: 75vw !important;
}

@media screen and (min-width: 1441px) {
    .produk {
        max-width: 1440px !important;
    }

    .produk .img-circle-container {
        transform: translateX(-60%) !important;
        width: 800px !important;
    }

    .produk .produk-circle-img {
        animation: rotate 20s linear infinite;
        width: 800px !important;
    }
}

@media screen and (max-width: 900px) {
    .produk .img-circle-container {
        display: none !important;
    }

    .produk .swiper-produk-tab {
        display: block !important;
    }
}

@media screen and (max-width: 600px) {
    .produk-img-mobile {
        width: 100% !important;
    }
}

/* produk End */

/* dokumentasi */
.dokumentasi .section-title {
    width: 55%;
    line-height: 130%;
    /* 2.925rem */
}

.dokumentasi .dokumentasi-desc {
    width: 90%;
}

.dokumentasi .dok-bg-card {
    content: ' ';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(8, 8, 8);
    background: linear-gradient(180deg, rgba(8, 8, 8, 0.40) 5%, rgba(8, 8, 8, 1) 100%);
}

.dokumentasi .dok-card-content {
    bottom: 20px;
}

.dokumentasi .card-sub {
    -webkit-line-clamp: 3 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
}

.dokumentasi .col a:hover {
    background: transparent !important;
    border: 2px solid #B98E2A;
    font-weight: 700;
    color: #B98E2A !important;
}

@media screen and (max-width: 900px) {
    .dokumentasi .section-title {
        width: 100%;
    }

    .dokumentasi .dokumentasi-desc {
        width: 100%;
    }

    .dokumentasi .dok-img {
        object-fit: cover !important;
    }

    .dokumentasi .dok-card {
        height: 350px !important;
        overflow: hidden !important;
    }
}

@media screen and (max-width: 600px) {

    .dokumentasi .dok-card {
        height: 400px !important;
        overflow: hidden !important;
    }

    .dokumentasi .dok-card-content a {
        display: block !important;
        text-align: center !important;
    }
}

/* dokumentasi End */

/* Testimoni */
.testimoni .section-title {
    width: 45%;
}

.testimoni .swiper {
    width: 100%;
}

.testimoni .swiper-slide {
    /* width: 408px !important; */
    height: 408px !important;
    display: flex !important;
}

.testimoni .swiper-text {
    /* text-align: justify; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 13;
    overflow: hidden;
}

.testimoni .quote {
    top: -15px;
    left: -20px;
    z-index: -1;
}

.testimoni .testipic {
    /* z-index: -1; */
    bottom: -45px !important;
    right: -30px !important;
    max-width: 100px !important;
    max-height: 160px !important;
}

.testimoni .swiper-slide-active {
    border: 1px solid white !important;
    border-radius: 10px !important;
}

.testimoni .swiper-slide-active .testipic {
    display: block !important;
}

.testimoni .swiper-slide-active .card-name {
    text-align: left !important;
}

@media screen and (min-width: 1441px) {
    .testimoni {
        max-width: 1440px !important;
    }
}

@media screen and (max-width: 900px) {
    .testimoni .section-title {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .testimoni .section-title {
        width: 80% !important;
        text-align: left !important;
        margin-left: 0 !important;
    }
    .testimoni .section-sub {
        width: 75%;
        text-align: left !important;
        margin-left: 0 !important;
    }

    .testimoni .swiper-pagination {
        display: block !important;
    }

    .testimoni .swiper-pagination-bullet {
        background: transparent !important;
        border: 4px solid #B98E2A !important;
        padding: 2px !important;
    }
    .testimoni .swiper-pagination-bullet-active {
        background: transparent !important;
        padding-left: 30px !important;
        padding-right: 30px !important;
        border-radius: 10px !important;
        background-image: url('../image/navbar.png') !important;
        background-repeat: no-repeat !important;
        background-size: cover;
        border: none !important;
    }
}

/* Testimoni End */

/* Hubungi */
.hubungi .form-item-container {
    transform: translateY(-20px) !important;
}

.hubungi .form-label {
    background-color: black;
    transform: translate(10px, 12px) !important;
    margin: 0 !important;
    font-size: 13px !important;
}

.hubungi .input-container {
    background-image: url('../image/navbar.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    padding: 2px;
}

.hubungi .form-control {
    background-color: #080808 !important;
    padding: 10px !important;
    padding-left: 15px !important;
    color: white !important;
    border: none !important;
}

.hubungi .form-control::placeholder {
    color: #636363 !important;
}

.hubungi .btn-kirim {
    background-image: url('../image/navbar.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover;
}

@media screen and (max-width: 600px) {
    .hubungi .section-title {
        width: 90% !important;
    }
    .hubungi .dokumentasi-desc {
        padding-right: 0px !important;
    }
}

/* Hubungi End*/

/* footer */
footer {
    background-image: url('../image/navbar.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding-top: 2px !important;
}

footer .container-fluid {
    background-color: #080808 !important;
}

/* footer End */